.task-container {
  align-items: center;
  background-color: #444;
  border-radius: 5px;
  color: #eee;
  display: flex;
  margin: 8px 0;
  justify-content: space-between;
  padding: 15px 20px;
}

.task-title {
  cursor: pointer;
}

.remove-task-button {
  background-color: #444;
  border: none;
  color: chartreuse;
  font-size: 24px;
}
